[user]
  name = Ben Shepheard
  email = ben@iondrive.co.uk

[credential]
  helper = osxkeychain

[push]
  default = simple

[pull]
  rebase = true

[alias]
  st = status
  head = !git l -1
  h = !git head
  hp = "!. ~/.githelpers && show_git_head"
  r = !git l -30
  ra = !git r --all
  l = "!. ~/.githelpers && pretty_git_log"
  la = !git l --all
