/.config
/.dropbox
/.node-gyp
/.npm
/.ssh
/.Trash
/Applications
/Desktop
/dev
/Documents
/Downloads
/Dropbox
/Library
/Movies
/Music
/Pictures
/Public

.DS_Store
/.bash_history
/.CFUserTextEncoding
/.viminfo
/.zcompdump*
/.zhistory