[user]
  name = Ben Shepheard
  email = ben@dynamictypes.com

[credential]
  helper = osxkeychain

[core]
  excludesfile = ~/.gitignore

[push]
  default = simple

[pull]
  rebase = true

[rebase]
  autostash = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
